body {
    background-color: black;
    color: white;
}
.portfolio {
    font-size: 18px;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
   left: 40%;
    gap: 30px;
}

.heading {
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: bolder;
}
footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(228, 226, 226, 0.885);
    color: black;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}
.qr {
    height: 500px;
    width: 400px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.insta img {
    height: 150px;
    width: 150px;
}
.linkedin img {
    height: 200px;
    width: 200px;
}
.linkedin {
    margin-top: -35px;
}

.photo {
    position: absolute;
    left: 10%;
    top: 15%;
}
.photo img {
    height: 270px;
    width: 160px;
  
}
@media (max-width: 600px) {
.insta img {
    height: 150px;
    width: 150px;
}
.portfolio {
    height : 100%;
}
.linkedin img {
    height: 200px;
    width: 200px;
}
.qr {
    height : 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    position: absolute;
    bottom: 10%;
    margin: 0;
    
}
}